*{margin: 0px;}
.app{
    display: flex;
    flex-direction: column;
}
.app__container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
    h1{
        color: #fc3c3c;
        font-size: 2rem;
    }
}

.app__dropdown{
    background-color: white;
}

.app__right{
    display: flex;
    flex-direction: column;
    .MuiCardContent-root{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
.app__graphTitle{
    margin-top: 20px;
}

.app__graph, .linegraph{
    flex-grow: 1;
}

.app__stats{
    display: flex;
    justify-content: space-between;
}

.app__left{
    flex:0.9;
}

@media(max-width:990px){
    .app{
        flex-direction: column;

    }
}